
<div class="header row" style="background-color: aqua">
  <div class="col-lg-2 ">
    <div>
      <div style="margin-left: 20px">Furama</div>
    </div>
  </div>
  <div class="col-lg-8"></div>
  <div class="col-lg-2 left-header"><p>Phan Thanh Long</p></div>
</div>
<div class="container-fluid sticky-top" style="padding: 0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div style="margin-left: 350px">
        <span style="color: red; font-size: 50px">ỨNG DỤNG QUẢN LÝ KHO HÀNG</span>
      </div>
    </div>
  </nav>
</div>
