<table class="table">
  <thead>
  <tr class="table-dark">
    <th>STT</th>
    <th>Name</th>
    <th>Customer Code</th>
    <th>Customer Type</th>
    <th>Date Of Birth</th>
    <th>Gender</th>
    <th>Id Card</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Address</th>
    <th colspan="2">Action</th>
  </tr>
  </thead>
  <tbody class="table-hover">
  <tr *ngFor="let item of customers; index as i">
    <td>{{i+1}}</td>
    <td>{{item.name}}</td>
    <td>{{item.code}}</td>
    <td>{{item.customerTypeId?.name}}</td>
    <td>{{item.dateOfBirth}}</td>
    <td>
      <span *ngIf="item.gender == true; else f">Nam</span>
      <ng-template #f>Nữ</ng-template>
    </td>
    <td>{{item.idCard}}</td>
    <td>{{item.phoneNumber}}</td>
    <td>{{item.email}}</td>
    <td>{{item.address}}</td>
    <td><button class="btn btn-outline-warning">Update</button></td>
    <td><button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</button></td>
  </tr>
  </tbody>
</table>
<app-customer-create (eventCreate)="save($event)"></app-customer-create>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</div>

