<app-header></app-header>
<app-list>
  <div class="row">
    <div class="col-sm-4">
      <div style="display: flex; justify-content: center; text-align: center; margin-top: 20px; margin-bottom: 20px">
        <div class="card" style="width: 18rem">
          <a href="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"><img
            class="card-img-top"
            src="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"
            alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <button class="btn btn-outline-warning"><a href="#" class="card-link">Update</a></button>
            <button class="btn btn-outline-danger"><a href="#" class="card-link">Delete</a></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="display: flex; justify-content: center; text-align: center; margin-top: 20px; margin-bottom: 20px">
        <div class="card" style="width: 18rem">
          <a href="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"><img
            class="card-img-top"
            src="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"
            alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <button class="btn btn-outline-warning"><a href="#" class="card-link">Update</a></button>
            <button class="btn btn-outline-danger"><a href="#" class="card-link">Delete</a></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="display: flex; justify-content: center; text-align: center; margin-top: 20px; margin-bottom: 20px">
        <div class="card" style="width: 18rem">
          <a href="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"><img
            class="card-img-top"
            src="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"
            alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <button class="btn btn-outline-warning"><a href="#" class="card-link">Update</a></button>
            <button class="btn btn-outline-danger"><a href="#" class="card-link">Delete</a></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="display: flex; justify-content: center; text-align: center; margin-top: 20px; margin-bottom: 20px">
        <div class="card" style="width: 18rem">
          <a href="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"><img
            class="card-img-top"
            src="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"
            alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <button class="btn btn-outline-warning"><a href="#" class="card-link">Update</a></button>
            <button class="btn btn-outline-danger"><a href="#" class="card-link">Delete</a></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="display: flex; justify-content: center; text-align: center; margin-top: 20px; margin-bottom: 20px">
        <div class="card" style="width: 18rem">
          <a href="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"><img
            class="card-img-top"
            src="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"
            alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <button class="btn btn-outline-warning"><a href="#" class="card-link">Update</a></button>
            <button class="btn btn-outline-danger"><a href="#" class="card-link">Delete</a></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="display: flex; justify-content: center; text-align: center; margin-top: 20px; margin-bottom: 20px">
        <div class="card" style="width: 18rem">
          <a href="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"><img
            class="card-img-top"
            src="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"
            alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <button class="btn btn-outline-warning"><a href="#" class="card-link">Update</a></button>
            <button class="btn btn-outline-danger"><a href="#" class="card-link">Delete</a></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="display: flex; justify-content: center; text-align: center; margin-top: 20px; margin-bottom: 20px">
        <div class="card" style="width: 18rem">
          <a href="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"><img
            class="card-img-top"
            src="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"
            alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <button class="btn btn-outline-warning"><a href="#" class="card-link">Update</a></button>
            <button class="btn btn-outline-danger"><a href="#" class="card-link">Delete</a></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="display: flex; justify-content: center; text-align: center; margin-top: 20px; margin-bottom: 20px">
        <div class="card" style="width: 18rem">
          <a href="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"><img
            class="card-img-top"
            src="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"
            alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <button class="btn btn-outline-warning"><a href="#" class="card-link">Update</a></button>
            <button class="btn btn-outline-danger"><a href="#" class="card-link">Delete</a></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="display: flex; justify-content: center; text-align: center; margin-top: 20px; margin-bottom: 20px">
        <div class="card" style="width: 18rem">
          <a href="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"><img
            class="card-img-top"
            src="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"
            alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <button class="btn btn-outline-warning"><a href="#" class="card-link">Update</a></button>
            <button class="btn btn-outline-danger"><a href="#" class="card-link">Delete</a></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="display: flex; justify-content: center; text-align: center; margin-top: 20px; margin-bottom: 20px">
        <div class="card" style="width: 18rem">
          <a href="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"><img
            class="card-img-top"
            src="https://sv3.anh365.com/images/2022/12/21/z3782204282386_d947e211f4d129b4afbfa52ffaa5f5ca-1.jpg"
            alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <button class="btn btn-outline-warning"><a href="#" class="card-link">Update</a></button>
            <button class="btn btn-outline-danger"><a href="#" class="card-link">Delete</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-list>
<app-footer></app-footer>
