
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add new
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formCreateCustomer" (ngSubmit)="createCustomer()">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-outline mb-4">
                <label class="form-label">ID</label>
                <label for="id"></label><input id="id" type="text"
                                               class="form-control form-control-lg" formControlName="id"/>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label">Name</label>
                <label for="cusName"></label><input id="cusName" type="text"
                                                    class="form-control form-control-lg" formControlName="name"/>
                <span style="color: red;" *ngIf="formCreateCustomer.controls.name.hasError('required')">Tên không được trống</span>
                <span style="color: red;" *ngIf="formCreateCustomer.controls.name.hasError('pattern')">Tên chưa đúng định dạng</span>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Code</label>
                <label for="code"></label><input id="code" type="text"
                                                 class="form-control form-control-lg" formControlName="code"/>
                <span style="color: red;" *ngIf="formCreateCustomer.controls.code.hasError('required')">Mã khách hàng không được trống</span>
                <span style="color: red;" *ngIf="formCreateCustomer.controls.code.hasError('pattern')">Mã khách hàng chưa đúng định dạng</span>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label">Customer Type</label>
                <div class="input-group" formControlName="customerType">
                  <label>
                    <select style="height: 49px" class="form-select">
                      <option *ngFor="let i of customerTypes" value="{{i.id}}">{{i.name}}</option>
                    </select>
                  </label>
                </div>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label">Gender</label>
                <div class="input-group">
                  <label>
                    <select id="gender1" style="height: 49px" class="form-select" formControlName="gender"
                    >
                      <option value="null" selected>SELECT GENDER</option>
                      <option value="Nam">Male</option>
                      <option value="Nữ">Female</option>
                    </select>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-outline mb-4">
                <label class="form-label">Id Card</label>
                <label for="idCard1"></label><input id="idCard1" type="text"
                                                    class="form-control form-control-lg" formControlName="idCard"/>
                <span style="color: red;" *ngIf="formCreateCustomer.controls.idCard.hasError('required')">CCCD/CMND không được trống</span>
                <span style="color: red;" *ngIf="formCreateCustomer.controls.idCard.hasError('pattern')">CCCD/CMND chưa đúng định dạng</span>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Date Of Birth</label>
                <label for="dayOfBirth1"></label><input id="dayOfBirth1" type="date"
                                                        class="form-control form-control-lg" formControlName="dateOfBirth"/>
              </div>
              <label class="form-label">Phone Number</label>
              <div class="form-outline mb-4">
                <label for="phone1"></label><input id="phone1" type="text"
                                                   class="form-control form-control-lg" formControlName="phoneNumber">
                <span style="color: red;" *ngIf="formCreateCustomer.controls.phoneNumber.hasError('required')">SDT không được trống</span>
                <span style="color: red;" *ngIf="formCreateCustomer.controls.phoneNumber.hasError('pattern')">SDT chưa đúng định dạng</span>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label">Email</label>
                <label for="email1"></label><input id="email1" type="text"
                                                   class="form-control form-control-lg" formControlName="email"/>
                <span style="color: red;" *ngIf="formCreateCustomer.controls.email.hasError('required')">Email không được trống</span>
                <span style="color: red;" *ngIf="formCreateCustomer.controls.email.hasError('email')">Email chưa đúng định dạng</span>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label">Address</label>
                <label for="address1"></label><input id="address1" type="text"
                                                     class="form-control form-control-lg" formControlName="address"/>
              </div>
            </div>
          </div>
<!--          <div class="d-flex justify-content-center">-->
<!--            <button type="submit"-->
<!--                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">-->
<!--              Add-->
<!--            </button>-->
<!--          </div>-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
