<form [formGroup]="formRegister" (ngSubmit)="submit()">
  <table>
    <tr>
      <th>
        Email
      </th>
      <td>
        <label>
          <input type="text" formControlName="email" >
        </label>
        <div *ngIf="!email.valid && (email.dirty ||email.touched)" class="alert alert-danger">
          <div [hidden]="!email.errors.required">
            Bắt buộc phải có email
          </div>
          <div [hidden]="!email.errors.pattern">
            Email chưa đúng địng dạng.
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        Password
      </th>
      <td>
        <label>
          <input type="password" formControlName="password">
        </label>
        <div *ngIf="!password.valid && (password.dirty ||password.touched)" class="alert alert-danger">
          <div [hidden]="!password.errors.required">
            Bắt buộc phải có password
          </div>
          <div [hidden]="!password.errors.minlength">
           Password phải tối đa 6 ký tự.
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        Confirm password
      </th>
      <td>
        <label>
          <input type="password" formControlName="confPassword" id="confPassword">
        </label>
        <div *ngIf="confPassword.touched && confPassword.invalid" class="alert alert-danger">
          <div *ngIf="confPassword.errors.required">confirm password không được trống</div>
          <div *ngIf="confPassword.errors.confirmedValidator">Password và Confirm Password chưa khớp.</div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        Country
      </th>
      <td>
        <label>
          <select formControlName="country" >
          <option value="Đà Nẵng">Đà Nẵng</option>
          <option value="Quảng Trị">Quảng Trị</option>
          <option value="Tokyo">Tokyo</option>
          </select>
        </label>
        <div *ngIf="!country.valid && (country.dirty ||country.touched)" class="alert alert-danger">
          <div [hidden]="!country.errors.required">
            Bắt buộc phải có country
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        Age
      </th>
      <td>
        <label>
          <input type="number" formControlName="age">
        </label>
        <div *ngIf="!age.valid && (age.dirty ||age.touched)" class="alert alert-danger">
          <div [hidden]="!age.errors.required">
            Bắt buộc phải có age
          </div>
          <div [hidden]="!age.errors.min">
            Phải trên 18 tuổi.
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        Gender
      </th>
      <td>
        <label>
          <input type="radio" value="male" name="gender" formControlName="gender"> Male
          <input type="radio" value="female"  name="gender" formControlName="gender"> Female
        </label>
        <div *ngIf="!gender.valid && (gender.dirty ||gender.touched)" class="alert alert-danger">
          <div [hidden]="!gender.errors.required">
            Gender bắt buộc
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        Phone
      </th>
      <td>
        <label>
          <input type="text" formControlName="phone">
        </label>
        <div *ngIf="!phone.valid && (phone.dirty ||phone.touched)" class="alert alert-danger">
          <div [hidden]="!phone.errors.required">
            Bắt buộc phải có Phone
          </div>
          <div [hidden]="!phone.errors.pattern">
            Chưa đúng định dạng (+84XXXXXXXXX)
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div style="margin-left: 110px">
    <button type="submit" [disabled]="!formRegister.valid">Submit</button>
  </div>
</form>




