<div class="header row" id="header1">
  <div class="col-lg-2 ">
    <div>
      <div style="margin-left: 20px">Furama</div>
    </div>
  </div>
  <div class="col-lg-8"></div>
  <div class="col-lg-2 left-header"><p>Phan Thanh Long</p></div>
</div>
<div class="container-fluid sticky-top" style="padding: 0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <a class="btn btn-primary" routerLink="/"  role="button">Home</a>
          <div>
            <a class="btn btn-primary"  role="button">Employee</a>
          </div>
          <div>
            <a class="btn btn-primary" routerLink="/customer/list"  role="button">Customer</a>
          </div>
          <div>
            <a class="btn btn-primary"   role="button">Facility</a>
          </div>
          <div>
            <a class="btn btn-primary"   role="button">Contract</a>
          </div>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
